@import "./reset.css";

:root {
    --main-font-size: 10rem;
    --color-white: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--main-font-size);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.game-area {
    position: relative;
    width: 450px;
    height: 450px;
    background: radial-gradient(
        circle,
        rgba(50, 150, 134, 1) 0%,
        rgba(14, 17, 70, 1) 100%
    );
    border-radius: 50px;
}

.game-area__start-window {
    display: none;
}

.game-area__start-window.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0.65;
}

.game-area__restart-quit-window {
    display: none;
}

.game-area__restart-quit-window.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0.9;
    z-index: 10;
}

.button {
    width: 60%;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 10px;
}

.button.new-game:hover {
    color: #025a02;
}

.button.restart:hover {
    color: #000092;
}

.button.quit:hover {
    color: #ff0000;
}

.game-area__list {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-items: center;
    align-items: center;
    font-size: 0;
}

.game-area__item {
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.game-area__list li:nth-child(1),
.game-area__list li:nth-child(2),
.game-area__list li:nth-child(4),
.game-area__list li:nth-child(5),
.game-area__list li:nth-child(7),
.game-area__list li:nth-child(8) {
    border-right: 1px dashed var(--color-white);
}

.game-area__list li:nth-child(1),
.game-area__list li:nth-child(2),
.game-area__list li:nth-child(3),
.game-area__list li:nth-child(4),
.game-area__list li:nth-child(5),
.game-area__list li:nth-child(6) {
    border-bottom: 1px dashed var(--color-white);
}

.game-area__item.active {
    font-size: 10rem;
}

.game-area__item.active.win {
    color: var(--color-white);
}

/* Styles for strikethrough line */

.strikethrough-line {
    display: none;
}

.strikethrough-line.active-row {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    z-index: 1;
}

.strikethrough-line.active-row.first-row-line {
    top: 55px;
}

.strikethrough-line.active-row.second-row-line {
    top: 209px;
}

.strikethrough-line.active-row.third-row-line {
    top: 360px;
}

.strikethrough-line.active-column {
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--color-white);
    z-index: 1;
}

.strikethrough-line.active-column.first-column-line {
    left: 74px;
}

.strikethrough-line.active-column.second-column-line {
    left: 224px;
}

.strikethrough-line.active-column.third-column-line {
    left: 374px;
}

.strikethrough-line.active-column.diagonal-1 {
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--color-white);
    transform: translateX(237px) rotate(-45deg) translateY(-19px);
    z-index: 1;
}

.strikethrough-line.active-column.diagonal-2 {
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--color-white);
    transform: translateX(207px) rotate(-135deg) translateY(20px);
    z-index: 1;
}
